<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.claudia.restaurants">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:label="Restaurante"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Restaurante"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".history.details.CartDetailsActivity"
            android:label="@string/title_activity_cart_details"
            android:parentActivityName=".history.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".history.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.claudia.restaurants.MainActivity" />
        </activity>
        <activity
            android:name=".comment.CommentActivity"
            android:label="@string/title_activity_comment"
            android:parentActivityName=".cart.CartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.claudia.restaurants.cart.CartActivity" />
        </activity>
        <activity
            android:name=".restaurants.details.RestaurantDetailsActivity"
            android:label="@string/title_activity_restaurant_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.claudia.restaurants.MainActivity"/>
        </activity>
        <activity
            android:name=".cart.CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.claudia.restaurants.MainActivity" />
        </activity>
    </application>

</manifest>